.faq-container {
  width: 65rem;
  margin: auto;
  background-color: #000;
  border-radius: 10px;
  padding: 2.5rem;
}

.faq-container h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

.faq-item {
  position: relative;
  padding: 10px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  color: #adacac;
  user-select: none;
  transition: color 0.3s;
}

.faq-question:hover {
  color: #fff;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 1s ease, opacity 0.4s ease;
  font-size: 1.2rem;
  color: #fff;
}

.faq-answer.open {
  opacity: 1;
}

.faq-answer ul.list {
  margin: 1rem 3rem;
  padding-bottom: 1rem;
}

.faq-answer ul.list li {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  list-style: disc;
  text-align: left;
  
}

p.caption {
  font-size: 0.8rem;
  font-style: italic;
}

.faq-arrow {
  transition: transform 0.3s ease;
}

.faq-item.active .faq-arrow {
  transform: rotate(-180deg);
}

.faq-arrow img {
  width: 60px;
  border-radius: 50%;
}



hr {
  height: 1px;
  border: none;
  background-color: #fff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .faq-container {
    width: 48rem;
  }
}

@media (min-width: 380px) and (max-width: 767px) {
  .faq-container {
    width: 95%;
    padding: 0;
  }
  
  .faq-answer ul.list {
    width: 90%;
  }

  .faq-question {
    font-size: 1rem;
  }
  

}

@media (max-width: 379px) {
  .faq-container {
    width: 95%;
    padding: 0;
  }

  .faq-answer ul.list {
    width: 95%;
    font-size: 0.8rem;
  }

    .faq-question {
    font-size: 1rem;
  }
}